/* Related to JS-and re-running animations on reset */
.buttons {
  display: flex;
  justify-content: center;
}

:root {
  --radius: 25px;
  --diameter: 50px;
}

#circle {
  width: var(--diameter);
  height: var(--diameter);
  margin: 30px auto;
  position: relative;
}

#circle2 {
  width: var(--diameter);
  height: var(--diameter);
  margin: 30px auto;
  position: relative;
}

#circle2 .left .fill {
  animation: clockwise 1s both linear alternate;
}

#circle2 .right .fill {
  z-index: 3;
  animation: clockwise 1s both linear alternate;
  animation-delay: 1s;
}

.reverse {
  border-radius: 50%;
  width: var(--diameter);
  height: var(--diameter);
  margin: 30px auto;
  position: relative;
  animation: show both;
  opacity: 0;
  animation-delay: 2s;
}

.reverse .hold {
  background-color: lightgrey;
}

.reverse .fill {
  background-color: green;
}

#circle2 .reverse .left .fill {
  animation: clockwise 1s both linear alternate;
  animation-delay: 2s;
}

#circle2 .reverse .right .fill {
  z-index: 3;
  animation: clockwise 1s both linear alternate;
  animation-delay: 3s;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    z-index: 4;
  }
}

.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: green;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-mask: radial-gradient(20px, #0000 98%, #000);
}

.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: lightgrey;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.left .fill,
.right .fill {
  animation: clockwise 0.2s linear both;
}

.left .fill {
  z-index: 1;
}

.right {
  transform: rotate(180deg);
}

.right .fill {
  z-index: 3;
  animation-delay: 0.2s;
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  clip-path: circle(50% at 50% 50%);
}

.inner {
  position: absolute;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 100%;
  background-color: white;
  animation: fill 0.2s linear both;
  animation-delay: 0.4s;
}

@keyframes fill {
  to {
    width: 10%;
    height: 10%;
    margin-left: 45%;
    margin-top: 45%;
  }
}

@keyframes fill {
  from {
    width: 79%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }

  to {
    width: 0%;
    height: 0%;
    margin-left: 50%;
    margin-top: 50%;
  }
}

.check-wrapper {
  border-radius: 50%;
  width: var(--diameter);
  height: var(--diameter);
  margin: 30px auto;
  position: relative;
  animation: pop both;
  opacity: 0;
  animation-delay: 0.4s;
}

@keyframes pop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    z-index: 4;
  }
}

.checkmark {
  position: absolute;
  transform: rotate(45deg);
  height: 2%;
  width: 1%;
  margin: 45% 45%;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-width: 1%;
  animation: grow 0.5s ease-in both;
  animation-delay: 0.4s;
}

@keyframes grow {
  from {
    height: 2%;
    width: 1%;
    margin: 45% 45%;
    border-width: 1%;
  }
  
  50% {
    height: calc(20px * 1.2);
    width: calc(10px * 1.2);
    margin: 20% 35%;
    margin: 13% 33%;
    border-width: 125%;
  }
  
  to {
    height: 20px;
    width: 10px;
    margin: 20% 35%;
    border-width: 100%;
  }
}
