/* styles related to buttons for triggering animations */
.buttons {
  display: flex;
  justify-content: center;
}

.buttons button ~ * {
  margin-left: 1rem;
}

/* css variables */
:root {
  /* loader size and styling */
  --diameter: 50px;
  --radius: calc(var(--diameter) / 2);
  --line-width: 5px;
  --fill-color: green;
  --empty-color: lightgrey;

  /* checkmark size and styling */
  --checkmark-width: 10px;
  --checkmark-height: 20px;
  --checkmark-line-width: 5px;
  --checkmark-color: white;
 
  /* configure animation speeds */
  --spinner-speed: 0.6s;
  --clockwise-animation-speed: 0.2s;
  --clockwise-animation-completed: calc(var(--clockwise-animation-speed) * 2);
  --circle-fill-speed: 0.2s;
  --checkmark-animation-speed: 0.5s;
}

#circle {
  position: relative;
  width: var(--diameter);
  height: var(--diameter);
  
  /* sets position of spinner */
  margin: 30px auto;
}

/* loading spinner styling */
.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  border: var(--line-width) solid var(--empty-color);
  border-top-color: var(--fill-color);
  animation: spinner var(--spinner-speed) linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
   }
}

/* hides all other sibling elements when spinner is active */
.spinner ~ * {
  display: none;
}

/* styling for the "clockwise filling circle" animation */
.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--fill-color);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-mask: radial-gradient(calc(var(--radius) - var(--line-width)), #0000 98%, #000);
}

.hold .fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--empty-color);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.left .fill {
  z-index: 1;
  animation: clockwise var(--clockwise-animation-speed) linear both;
}

.right {
  transform: rotate(180deg);
}

.right .fill {
  z-index: 3;
  animation: clockwise var(--clockwise-animation-speed) linear both;
  
  /* wait for left-half animation to complete before starting right-half animation */
  animation-delay: var(--clockwise-animation-speed);
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* styling for the checkmark animation */
.check-wrapper {
  border-radius: 50%;
  width: var(--diameter);
  height: var(--diameter);
  position: relative;
  animation: display both;
  opacity: 0;
  animation-delay: var(--clockwise-animation-completed);
}

@keyframes display {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    z-index: 4;
  }
}

.check-wrapper .checkmark {
  position: absolute;
  transform: rotate(45deg);
  height: 2%;
  width: 1%;
  margin: 45% 45%;
  border-right: var(--checkmark-line-width) solid var(--checkmark-color);
  border-bottom: var(--checkmark-line-width) solid var(--checkmark-color);
  border-width: 1%;
  animation: growBounce var(--checkmark-animation-speed) ease-in both;
  animation-delay: var(--clockwise-animation-completed);
}

@keyframes growBounce {
  from {
    height: 2%;
    width: 1%;
    margin: 45% 45%;
    border-width: 1%;
  }
  
  50% {
    height: calc(var(--checkmark-height) * 1.2);
    width: calc(var(--checkmark-width) * 1.2);
    margin: 20% 35%;
    margin: 13% 33%;
    border-width: 125%;
  }
  
  to {
    height: var(--checkmark-height);
    width: var(--checkmark-width);
    margin: 20% 35%;
    border-width: 100%;
  }
}

/* styling for the "fill-in circle" animation */
.check-wrapper .edge {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--fill-color);
  clip-path: circle(50% at 50% 50%);
}

.check-wrapper .fill-circle {
  position: absolute;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 100%;
  background-color: var(--checkmark-color);
  animation: fill-circle var(--circle-fill-speed) ease-in both;
  animation-delay: var(--clockwise-animation-completed);
}

@keyframes fill-circle {
  from {
    width: 79%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }

  to {
    width: 0%;
    height: 0%;
    margin-left: 50%;
    margin-top: 50%;
  }
}
